{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Add dog</h2>

{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/create_dog" method="post" enctype="multipart/form-data">
  <p>
    Registration number:
    <input type="text" name="registration_number" placeholder="Registration number" maxlength=10 required />
  </p>
  <p>
    Add image:
    <input type="file" name="image" accept=".jpg,.jpeg,.JPG,.JPEG" required />
  </p>
  <p>
    Name:
    <input type="text" name="name" maxlength=20 required />
  </p>
  <p>
    <label for="color">Color:</label>
    <select name="color" id="color">
      {% for color in colors %}
      <option value="{{ color.name }}">{{ color.name }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <label for="breed">Breed:</label>
    <select name="breed" id="breed">
      {% for breed in dog_breeds %}
      <option value="{{ breed.name }}">{{ breed.name }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    Date or birth:
    <input type="date" name="date_of_birth" value="yyyy/mm/dd" required />
  </p>
  <p>
    Date of death:
    <input type="date" name="date_of_death" value="yyyy/mm/dd" />
  </p>
  <p>
    Sex:
    <input type="radio" id="sexChoice1" name="sex" value="M" />
    <label for="sexChoice1">Male</label>

    <input type="radio" id="sexChoice2" name="sex" value="F" />
    <label for="sexChoice2">Female</label>
  </p>
  <p>
    Father:
    <input type="text" name="father_id" placeholder="Registration number" maxlength=10 />
  </p>
  <p>
    Mother:
    <input type="text" name="mother_id" placeholder="Registration number" maxlength=10 />
  </p>
  <p>
    <label>
      Litter:
      <select name="litter">
        <option value="">None</option>
        {% for litter in litters %}
        <option value="{{ litter.name }}">{{ litter.name }}</option>
        {% endfor %}
      </select>
    </label>
  </p>
  <p>
    <label for="championship_title">Championship Title:</label>
    <select name="championship_title" id="championship_title">
      {% for championship_title in championship_titles %}
      <option value="{{ championship_title.title }}">{{ championship_title.title }}</option>
      {% endfor %}
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Save" />
</form>
</body>

{% endblock %}