{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Add litter</h2>

{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/create_litter" method="post">
  <p>
    Name:
    <input type="text" name="name" maxlength=20 required />
  </p>
  <p>
    Father:
    <input type="text" name="father" placeholder="Registration number" maxlength=10 />
  </p>
  <p>
    Mother:
    <input type="text" name="mother" placeholder="Registration number" maxlength=10 />
  </p>
  <p>
    Date of birth:
    <input type="date" name="date_of_birth" value="yyyy/mm/dd" required />
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Save" />
</form>
</body>

{% endblock %}