<!DOCTYPE html>
<html>
  <p>
    Registration number: {{ dog.registration_number }}
  </P>
  
  {% if dog.image %}
  <p>
    Image: <img src="/image/{{ dog.id }}" alt="Dog Image" width="200" height="200">
  </P>
  {% else %}
  <p>
    No image available for this dog.
  </P>
  {% endif %}
  <p>
    Name: {{ dog.name }}
  </P>
  <p>
    Color: {{ dog.color}}
  </P>
  <p>
    Breed: {{ dog.breed }}
  </P>
  <p>
    Born: {{ dog.birth_date }}
  </P>
  <p>
    Sex: {{ dog.sex }}
  </P>
  <p>
    Father: {% if dog.father_id %}<a href="/dog/{{ dog.father_id }}">{{ dog.father_registration_number if dog.father_registration_number else "Unknown" }}</a>{% else %}Unknown{% endif %}
  </P>
  <p>
    Mother: {% if dog.mother_id %}<a href="/dog/{{ dog.mother_id }}">{{ dog.mother_registration_number if dog.mother_registration_number else "Unknown" }}</a>{% else %}Unknown{% endif %}
  </P>
  <p>
    Owner: {{ dog.owner_username }}
  </P>
  <p>
    Litter: {% if dog.litter_id%}<a href="/dog/{{ dog.litter_id }}">{{ dog.litter_name if dog.litter_name else "Unknown" }}</a>{% else %}Unknown{% endif %}  </P>
  <p>
    Championship title: {{ dog.championship_title }}
  </P>
  <p>
    Best test: {{ dog.best_test }}
  </P>
  <p>
    Best show: {{ dog.best_show_name if dog.best_show_name else "Unknown" }}
  </P>
  <p>
    Litter Score: {{ dog.litter_score }}
  </P>
  <p>
    Score Trace: {{ dog.score_trace }}
  </P>
  <p>
    Hip Index: {{ dog.hip_index }}
  </P>
  <p>
    Use Index: {{ dog.use_index }}
  </P>
  {% if dog.owner_id == session.user_id %}
  <p>
    <a href="/edit/{{ dog.id }}">Edit</a> |
    <a href="/remove/{{ dog.id }}">Remove</a>
  </p>
  {% endif %}
</html>
