{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>{{ show.name }}</h2>

<div class="info">

  <table class="table">

    <tr>
      <td>Name</td>
      <td>{{ show.name }}</td>
    </tr>

    <tr>
      <td>Date</td>
      <td>{{ show.date }}</td>
    </tr>

    <tr>
      <td>Winner</td>
      <td>
        {% if show.winner_id %}
        <a href="/dog/{{ show.winner_id }}">{{ show.winner_registration_number }}</a>
        {% else %}
        No winner
        {% endif %}
      </td>
    </tr>

  </table>

</div>

<h2>
  Participants
</h2>

<table class="table">

  <tr>
    <th>Registration number</th>
    <th>Name</th>
    <th>Breed</th>
    <th>Date of birth</th>
    <th>Sex</th>
    <th>Owner</th>
    <th>Litter</th>
    <th>Show result</th>
  </tr>

  {% for dog in dogs %}
  <tr>
    <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
    <td>{{ dog.name }}</td>
    <td>{{ dog.breed }}</td>
    <td>{{ dog.date_of_birth }}</td>
    <td>{{ dog.sex }}</td>
    <td><a href="/owner/{{ dog.owner_id }}">{{ dog.owner_name }}</a></td>
    <td>{% if dog.litter_name %}<a href="/litter/{{ dog.litter_id }}">{{ dog.litter_name }}</a>{% else %}Unknown{%
      endif %}</td>
    <td>{{ dog.show_result}}</td>
  </tr>
  {% endfor %}

</table>

<p>
  {% if page > 1 %}
  <a href="/dog_show/{{ show.id }}/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Page {{ page }}/{{ page_count }}
  {% if page < page_count %}
  <a href="/dog_show/{{ show.id }}/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>

{% if added_dogs %}
<h3>My added dogs</h3>

<table class="table">

  <tr>
    <th>Registration number</th>
    <th>Name</th>
    <th>Breed</th>
    <th>Date of birth</th>
    <th>Sex</th>
    <th>Owner</th>
    <th>Litter</th>
    <th>Show result</th>
    <th>Action</th>
  </tr>

  {% for dog in added_dogs %}
  <tr>
    <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
    <td>{{ dog.name }}</td>
    <td>{{ dog.breed }}</td>
    <td>{{ dog.date_of_birth }}</td>
    <td>{{ dog.sex }}</td>
    <td><a href="/owner/{{ dog.owner_id }}">{{ dog.owner_name }}</a></td>
    <td>{% if dog.litter_name %}<a href="/litter/{{ dog.litter_id }}">{{ dog.litter_name }}</a>{% else %}Unknown{%
      endif %}</td>
    <td>{{ dog.show_result}}</td>
    <td>
      <form method="post" action="/dog_show/{{ show.id }}/remove" style="margin:0">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="dog_id" value="{{ dog.id }}" />
        <input type="hidden" name="show_id" value="{{ show.id }}" />
        <input type="submit" class="form-button" value="Remove" />
      </form>
    </td>
  </tr>

  {% endfor %}

</table>
{% endif %}

{% if session.get('owner_id') %}

<h3>Add your dog to this show</h3>

{% if eligible_dogs %}
<form method="post" action="/dog_show/{{ show.id }}/add">

  <table class="form-table">

    <tr>
      <td class="label"><label for="dog">Select one of your dogs</label></td>
      <td class="control">
        <select id="dog" class="select" name="dog_id" required>
          {% for dog in eligible_dogs %}
          <option value="{{ dog.id }}">{{ dog.name }} ({{ dog.registration_number }})</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td class="label"><label for="championship_title">Select show result</label></td>
      <td class="control">
        <select id="championship_title" class="select" name="championship_title_id" required>
          {% for championship_title in championship_titles %}
          <option value="{{ championship_title.id }}">{{ championship_title.title }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

  </table>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="show_id" value="{{ show.id }}" />
  <input type="submit" class="button" value="Add to show" />

</form>

{% else %}

<p>You don't have any dogs eligible for this show (either you have no dogs or all your dogs are already registered).</p>

{% endif %}
{% else %}

<p><a href="/login">Log in</a> to add your dog to this show.</p>

{% endif %}

{% endblock %}
