{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Edit account</h2>

<form action="/edit_account" method="post">
    <p>
        Name: <br />
        <input type="text" name="name" maxlength=20 required
            {% if filled %}
            value="{{ filled.name }}"
            {% else %}
            value="{{ owner.name }}"
            {% endif %}
        />
    </p>
    <p>
        Email: <br />
        <input type="text" name="email" maxlength=50 required
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Format: username@example.com"
            {% if filled %}
            value="{{ filled.email }}"
            {% else %}
            value="{{ owner.email }}"
            {% endif %}
        />
    </p>
    <p>
        Password: <br />
        <input type="password" name="password1" maxlength=35 required />
    </p>
    <p>
        Password again: <br />
        <input type="password" name="password2" maxlength=35 required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Continue" />
    <input type="submit" name="cancel" value="Cancel" />
</form>

{% endblock %}
