{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Edit {{ litter.name }}</h2>

<form action="/litter/{{ litter.id }}/edit" method="post">

  <table class="form-table">

    <tr>
      <td class="label"><label for="name">Name</label></td>
      <td class="control">
        <input id="name" class="input" type="text" name="name" maxlength=20 required
          {% if filled %}
          value="{{ filled.name }}"
          {% else %}
          value="{{ litter.name }}"
          {% endif %}
        />
      </td>
    </tr>

    <tr>
      <td class="label"><label for="father">Father</label></td>
      <td class="control">
        <select id="father" class="select" name="father_id">
          <option value="">None</option>
          {% for dog in male_dogs %}
          {% if filled %}
          <option value="{{ dog.id }}"
            {% if dog.id|string == filled.father_id %}selected{% endif %}>
            {{ dog.name }} ({{ dog.registration_number }})
          </option>
          {% else %}
          <option value="{{ dog.id }}"
            {% if dog.id|string == litter.father_id %}selected{% endif %}>
            {{ dog.name }} ({{ dog.registration_number }})
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td class="label"><label for="mother">Mother</label></td>
      <td class="control">
        <select id="mother" class="select" name="mother_id">
          <option value="">None</option>
          {% for dog in female_dogs %}
          {% if filled %}
          <option value="{{ dog.id }}"
            {% if dog.id|string == filled.mother_id %}selected{% endif %}>
            {{ dog.name }} ({{ dog.registration_number }})
          </option>
          {% else %}
          <option value="{{ dog.id }}"
            {% if dog.id|string == litter.mother_id %}selected{% endif %}>
            {{ dog.name }} ({{ dog.registration_number }})
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td class="label"><label for="date_of_birth">Date of birth</label></td>
      <td class="control">
        <input id="date_of_birth" class="date-input" type="date" name="date_of_birth" required
          {% if filled %}
          value="{{ filled.date_of_birth }}"
          {% else %}
          value="{{ litter.date_of_birth }}"
          {% endif %}
        />
      </td>
    </tr>

  </table>

  <input type="hidden" name="litter_id" value="{{ litter.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" class="button" value="Save" />

</form>

{% endblock %}
