{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Edit {{ dog.name }}</h2>

<form action="/edit_dog/{{ dog.id }}" method="post" enctype="multipart/form-data">
    <p>
        Registration number:
        <input type="text" name="registration_number" placeholder="Registration number" maxlength=10 required
            pattern="^FI\d{5}/\d{2}$" title="Format: FI12345/12 (FI, five digits, slash, two digits)"
            {% if filled %}
            value="{{ filled.registration_number }}"
            {% else %}
            value="{{ dog.registration_number }}"
            {% endif %}
        />
    </p>
    <p>
        Change image:
        <input type="file" name="image" accept=".jpg,.jpeg,.JPG,.JPEG"/>
    </p>
    <p>
        Name:
        <input type="text" name="name" maxlength=20 required
            {% if filled %}
            value="{{ filled.name }}"
            {% else %}
            value="{{ dog.name }}"
            {% endif %}
        />
    </p>
    <p>
        <label for="color">Color:</label>
        <select name="color" id="color">
            {% set current = filled.color if filled else dog.color %}
            {% for color in colors %}
            <option value="{{ color.name }}" {% if color.name == current %}selected{% endif %}>
                {{ color.name }}
            </option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="breed">Breed:</label>
        <select name="breed" id="breed">
            {% set current = filled.breed if filled else dog.breed %}
            {% for breed in dog_breeds %}
            <option value="{{ breed.name }}" {% if breed.name == current %}selected{% endif %}>
                {{ breed.name }}
                {% endfor %}
        </select>
    </p>
    <p>
        Date or birth:
        <input type="date" name="date_of_birth" required
            {% if filled %}
            value="{{ filled.date_of_birth }}"
            {% else %}
            value="{{ dog.date_of_birth }}"
            {% endif %}
        />
    </p>
    <p>
        Date of death:
        <input type="date" name="date_of_death"
            {% if filled %}
            value="{{ filled.date_of_death }}"
            {% else %}
            value="{{ dog.date_of_death }}"
            {% endif %}
        />
    </p>
    <p>
        Sex:
        <input type="radio" id="sexChoice1" name="sex" value="Male"
            {% if (filled and filled.sex == 'Male') or (not filled and dog.sex == 'Male') %}checked{% endif %} />
        <label for="sexChoice1">Male</label>

        <input type="radio" id="sexChoice2" name="sex" value="Female"
            {% if (filled and filled.sex == 'Female') or (not filled and dog.sex == 'Female') %}checked{% endif %} />
        <label for="sexChoice2">Female</label>
    </p>
    <p>
        <label for="litter">Litter:</label>
        <select name="litter_id" id="litter">
            <option value="">None</option>
            {% for litter in litters %}
                {% if filled %}
                <option value="{{ litter.id }}"
                    {% if litter.id|string == filled.litter_id|string %}selected{% endif %}>{{ litter.name }}
                </option>
                {% else %}
                <option value="{{ litter.id }}"
                    {% if litter.id|string == dog.litter_id|string %}selected{% endif %}>{{ litter.name }}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="best_show">Best Show:</label>
        <select name="best_show_id" id="best_show">
            <option value="">None</option>
            {% for show in participated_shows %}
                {% if filled %}
                <option value="{{ show.id }}"
                    {% if show.id|string == filled.best_show_id|string %}selected{% endif %}>{{ show.name }} ({{ show.date }})
                </option>
                {% else %}
                <option value="{{ show.id }}"
                    {% if show.id|string == dog.best_show_id|string %}selected{% endif %}>{{ show.name }} ({{ show.date }})
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        Best test:
        <input type="number" name="best_test" min=1 max=5
            {% if filled %}
            value="{{ filled.best_test }}"
            {% else %}
            value="{{ dog.best_test }}"
            {% endif %}
        />
    </p>
    <p>
        Use index:
        <input type="number" name="use_index" min=1 max=100
            {% if filled %}
            value="{{ filled.use_index }}"
            {% else %}
            value="{{ dog.use_index }}"
            {% endif %}
        />
    </p>
    <p>
        Hip index:
        <input type="number" name="hip_index" min=1 max=100
            {% if filled %}
            value="{{ filled.hip_index }}"
            {% else %}
            value="{{ dog.hip_index }}"
            {% endif %}
        />
    </p>
    <input type="hidden" name="dog_id" value="{{ dog.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Save" />
</form>

{% endblock %}
