{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Edit account</h2>

<form action="/edit_account" method="post">

  <table class="form-table">

    <tr>
      <td class="label"><label for="name">Name</label></td>
      <td class="control">
        <input id="name" class="input" type="text" name="name" maxlength=20 required
          {% if filled %}
          value="{{ filled.name }}"
          {% else %}
          value="{{ owner.name }}"
          {% endif %}
        />
      </td>
    </tr>

    <tr>
      <td class="label"><label for="email">Email</label></td>
      <td class="control">
        <input id="email" class="input" type="text" name="email" maxlength=50 required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Format: username@example.com"
          {% if filled %}
          value="{{ filled.email }}"
          {% else %}
          value="{{ owner.email }}"
          {% endif %}
        />
      </td>
    </tr>

    <tr>
      <td class="label"><label for="password1">Password</label></td>
      <td class="control">
        <input id="password1" class="input" type="password" name="password1" maxlength=35 required
        />
      </td>
    </tr>

    <tr>
      <td class="label"><label for="password2">Password again</label></td>
      <td class="control">
        <input id="password2" class="input" type="password" name="password2" maxlength=35 required
        />
      </td>
    </tr>

  </table>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" class="button" name="continue" value="Continue" />
  <input type="submit" class="button" name="cancel" value="Cancel" />

</form>

{% endblock %}
