{% extends "html/layout.html" %}

  {% block title %}Dog Database{% endblock %}

  {% block content %}

  <h2>Edit {{ litter.name }}</h2>

  <form action="/edit_litter/{{ litter.id }}" method="post" enctype="multipart/form-data">
    <p>
      Name:
      <input type="text" name="name" value="{{ litter.name }}" maxlength=20 required />
    </p>
    <p>
      <label>
        Mother:
        <select name="mother">
          <option value="">None</option>
          {% for dog in female_dogs %}
          <option value="{{ dog.registration_number }}">{{ dog.name }} ({{ dog.registration_number }})</option>
          {% endfor %}
        </select>
      </label>
    </p>
    <p>
      <label>
        Father
        <select name="father">
          <option value="">None</option>
          {% for dog in male_dogs %}
          <option value="{{ dog.registration_number }}">{{ dog.name }} ({{ dog.registration_number }})</option>
          {% endfor %}
        </select>
      </label>
    </p>
    <p>
      Date or birth:
      <input type="date" name="date_of_birth" value="{{ litter.date_of_birth }}" required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Save" />
  </form>
  </body>

  {% endblock %}
