<!DOCTYPE html>
<html>
<head>
  <title>Dogdatabase</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <h1>Welcome to the Dog Database!</h1>
    {% if session.get('username') %}
        <p>You are logged in as {{ session.get('username') }}. <a href="/logout">Logout</a>
           <a href="/create_dog">Add a new dog to the database</a> 
           <a href="/my_dogs">My dogs</a> 
        </p>
    {% else %}
    <p>login <a href="/login">here</a> or register <a href="/register">here</a>.</p>
    {% endif %}
  
    <table>
      <tr>
        <th>Registration number</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Born</th>
        <th>Sex</th>
        <th>Father</th>
        <th>Mother</th>
        <th>Owner</th>
        <th>Litters</th>
        <th>Championship title</th>
      </tr>

      {% for dog in dogs %}
      <tr>
          <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
          <td>{{ dog.name }}</td>
          <td>{{ dog.breed }}</td>
          <td>{{ dog.born_date }}</td>
          <td>{{ dog.sex }}</td>
          <td>{{ dog.father_id  }}</td>
          <td>{{ dog.mother_id }}</td>
          <td>{{ dog.owner_id }}</td>
          <td>{{ dog.litters }}</td>
          <td>{{ dog.championship_title }}</td>
      </tr>
      {% endfor %}

    </table>
</body>
</html>
