<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div class="header">
      <h1>Dog Database</h1>
    </div>

    <div class="nav">
      <nav>
        <p>
          <a href="/">Home</a> |
          <a href="/search">Search</a> |
          <a href="/litters">Litters</a> |
          <a href="/owners">Owners</a> |
          <a href="/dog_shows">Dog Shows</a> |
          {% if session.get("owner_id") %}
          <a href="/dog/new">Add dog</a> |
          <a href="/litter/new">Add litter</a> |
          <a href="/owner/{{ session.owner_id }}">My account</a> |
          <a href="/logout">Logout</a>
          {% else %}
          <a href="/login">Login</a> |
          <a href="/register">Register</a>
          {% endif %}
        </p>
      </nav>
    </div>

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="error">
      <ul>
        {%- for msg in errors %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    {% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
    <div class="success">
      <ul>
        {%- for msg in successes %}
        <li>{{ msg }}</li>
        {% endfor -%}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>

</html>
