{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Litters</h2>

{% if litters %}

<table class="table">

  <tr>
    <th>Name</th>
    <th>Father</th>
    <th>Mother</th>
    <th>Date of birth</th>
    <th>Owner</th>
  </tr>

  {% for litter in litters %}
  <tr>
    <td><a href="/litter/{{ litter.id }}">{{ litter.name }}</a></td>
    <td><a href="/dog/{{ litter.father_id }}">{{ litter.father_registration_number or "Unknown" }}</a></td>
    <td><a href="/dog/{{ litter.mother_id }}">{{ litter.mother_registration_number or "Unknown" }}</a></td>
    <td>{{ litter.date_of_birth }}</td>
    <td><a href="/owner/{{ litter.owner_id }}">{{ litter.owner_name }}</a></td>
  </tr>
  {% endfor %}

</table>

<p>
  {% if page > 1 %}
  <a href="/litters/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Page {{ page }}/{{ page_count }}
  {% if page < page_count %} <a href="/litters/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>

{% else %}
There are currently no litters in the database.
{% endif %}

{% endblock %}
