{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Login</h2>

<form action="/login" method="post">

  <table class="form-table">

    <tr>
      <td class="label"><label for="name">Name</label></td>
      <td class="control">
        <input id="name" class="input" type="text" name="name" maxlength=20 required />
      </td>
    </tr>

    <tr>
      <td class="label"><label for="password">Password</label></td>
      <td class="control">
        <input id="password" class="input" type="password" name="password" maxlength=35 required />
      </td>
    </tr>

  </table>

  <input type="submit" class="button" value="Login" />
</form>

{% endblock %}
