{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>{{ owner.name }}</h2>

<div class="info">

  <table class="table">

    <tr>
      <td>Name</td>
      <td>{{ owner.name }}</td>
    </tr>

    <tr>
      <td>Email</td>
      <td>{{ owner.email }}</td>
    </tr>

    <tr>
      <td>Account created</td>
      <td>{{ owner.created_at }}</td>
    </tr>

  </table>

  {% if session.owner_id == owner.id %}
  <p>
    <a href="/owner/{{ session.owner_id }}/edit">Edit account</a> |
    <a href="/owner/{{ session.owner_id }}/remove">Remove account</a>
  </p>
  {% endif %}

</div>

<div class="info">
  <h3>Dogs</h3>

  {% if dogs %}
  <p>
    {% if session.owner_id == owner.id %}
    You currently have {{ dogs | count }} dog(s).
    {% else %}
    {{ owner.name }} currently has {{ dogs | count }} dog(s).
  </p>
  {% endif %}

  <table class="table">

    <tr>
      <th>Registration number</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Date of birth</th>
      <th>Sex</th>
      <th>Owner</th>
      <th>Litter</th>
    </tr>

    {% for dog in dogs %}
    <tr>
      <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.breed }}</td>
      <td>{{ dog.date_of_birth }}</td>
      <td>{{ dog.sex }}</td>
      <td><a href="/owner/{{ dog.owner_id }}">{{ dog.owner_name }}</a></td>
      <td>{% if dog.litter_name %} <a href="/litter/{{ dog.litter_id }}">{{ dog.litter_name or "Unknown" }}</a>{% else
        %}Unknown{% endif %}</td>
    </tr>
    {% endfor %}

  </table>

  {% else %}
  <p>
    {% if session.owner_id == owner.id %}
    You don't have any dogs yet.
    Add your first dog <a href="/dog/new">here</a>.
    {% else %}
    {{ owner.name }} doesn't have any dogs yet.
    {% endif %}
  </p>
  {% endif %}

</div>

<div class="info">

  <h3>Litters</h3>

  {% if litters %}
  <p>
    {% if session.owner_id == owner.id %}
    You currently have {{ litters | count }} litter(s).
    {% else %}
    {{ owner.name }} currently has {{ litters | count }} litter(s).
  </p>
  {% endif %}

  <table class="table">

    <tr>
      <th>Name</th>
      <th>Father</th>
      <th>Mother</th>
      <th>Date of birth</th>
    </tr>

    {% for litter in litters %}
    <tr>
      <td><a href="/litter/{{ litter.id }}">{{ litter.name }}</a></td>
      <td><a href="/dog/{{ litter.father_id }}">{{ litter.father_registration_number or "Unknown" }}</a></td>
      <td><a href="/dog/{{ litter.mother_id }}">{{ litter.mother_registration_number or "Unknown" }}</a></td>
      <td>{{ litter.date_of_birth }}</td>
    </tr>
    {% endfor %}

    {% else %}
    <p>
      {% if session.owner_id == owner.id %}
      You don't have any litters yet.
      Add your first litter <a href="/litter/new">here</a>.
      {% else %}
      {{ owner.name }} doesn't have any litters yet.
      {% endif %}
    </p>
    {% endif %}

  </table>

</div>

{% endblock %}
