{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Owners</h2>

<table class="table">

  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

  {% for owner in owners %}
  <tr>
    <td><a href="/owner/{{ owner.id }}">{{ owner.name }}</a></td>
    <td>{{ owner.email }}</a></td>
  </tr>
  {% endfor %}

</table>

<p>
  {% if page > 1 %}
  <a href="/owners/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Page {{ page }}/{{ page_count }}
  {% if page < page_count %} <a href="/owners/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>

{% endblock %}
