<!DOCTYPE html>
<html>

<head>
    <title>Dog Database</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <h1>Owners</h1>
    <p>
        <a href="/">Home</a>
        <a href="/litters">Litters</a>
        {% if session.get('username') %}
        <a href="/create_dog">Add a new dog to the database</a>
        <a href="/create_litter">Add a new litter to the database</a>
        <a href="/my_dogs">My dogs</a>
        {% endif %}
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for owner in owners %}
        <tr>
            <td><a href="/user/{{ owner.id }}">{{ owner.username }}</a></td>
            <td>{{ owner.email }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
<p>
    {% if page > 1 %}
    <a href="/owners/{{ page - 1 }}">&lt;&lt;</a>
    {% endif %}
    Page {{ page }}/{{ page_count }}
    {% if page < page_count %} <a href="/owners/{{ page + 1 }}">&gt;&gt;</a>
        {% endif %}
</p>

</html>