{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>{{ owner.name }}</h2>

<p>
    Name: {{ owner.name }}
</P>
<p>
    Email: {{ owner.email }}
</P>

{% if session.owner_id == owner.id %}
<p>
  <a href="/edit_account/{{ owner.id }}">Edit</a> |
  <a href="/remove_account/{{ owner.id }}">Remove</a>
</p>
{% endif %}

{% if dogs %}

<p>
  {% if session.owner_id == owner.id %}
  You currently have {{ dogs | count }} dog(s).
  {% else %}
  {{ owner.name }} currently has {{ dogs | count }} dog(s).
  {% endif %}
</p>

<table>
    <tr>
        <th>Registration number</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Date or birth</th>
        <th>Sex</th>
        <th>Father</th>
        <th>Mother</th>
        <th>Owner</th>
        <th>Litter</th>
    </tr>

    {% for dog in dogs %}
    <tr>
        <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
        <td>{{ dog.name }}</td>
        <td>{{ dog.breed }}</td>
        <td>{{ dog.date_of_birth }}</td>
        <td>{{ dog.sex }}</td>
        <td>
            {% if dog.father_id %}
            <a href="/dog/{{ dog.father_id }}">{{ dog.father_registration_number or "Unknown" }}</a>
            {% else %}
            Unknown
            {% endif %}
        </td>
        <td>
            {% if dog.mother_id %}
            <a href="/dog/{{ dog.mother_id }}">{{ dog.mother_registration_number or "Unknown" }}</a>
            {% else %}
            Unknown
            {% endif %}
        </td>
        <td><a href="/owner/{{ dog.owner_id }}">{{ dog.owner_name }}</a></td>
        <td>{% if dog.litter_name %} <a href="/litter/{{ dog.litter_id }}">{{ dog.litter_name or "Unknown" }}</a>{% else
            %}Unknown{% endif %}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<p>
  {% if session.owner_id == owner.id %}
  You don't have any dogs yet.
  Add your first litter <a href="/create_dog">here</a>.
  {% else %}
  {{ owner.name }} doesn't have any dogs yet. 
  {% endif %}
</p>
{% endif %}


{% if litters %}

<p>
  {% if session.owner_id == owner.id %}
  You currently have {{ litters | count }} litter(s).
  {% else %}
  {{ owner.name }} currently has {{ litters | count }} litter(s).
  {% endif %}
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Father</th>
    <th>Mother</th>
    <th>Date or birth</th>
  </tr>
  {% for litter in litters %}
  <tr>
    <td><a href="/litter/{{ litter.id }}">{{ litter.name }}</a></td>
    <td><a href="/dog/{{ litter.father_id }}">{{ litter.father_registration_number or "Unknown" }}</a></td>
    <td><a href="/dog/{{ litter.mother_id }}">{{ litter.mother_registration_number or "Unknown" }}</a></td>
    <td>{{ litter.date_of_birth }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <p>
    {% if session.owner_id == owner.id %}
    You don't have any litters yet.
    Add your first litter <a href="/create_litter">here</a>.
    {% else %}
    {{ owner.name }} doesn't have any litters yet. 
    {% endif %}
  </p>
  {% endif %}
</table>
</body>

{% endblock %}
