{% extends "html/layout.html" %}

{% block title %}Dog Database{% endblock %}

{% block content %}

<h2>Search</h2>

<form action="/search" method="get">

  <table class="form-table">

    <tr>
      <td class="label"><label for="query">Query</label></td>
      <td class="control">
        <input id="query" class="input" type="text" id="query" name="query"
          {% if query %}
          value="{{ query }}"
          {% else %}
          value=""
          {% endif %}
        />
      </td>
    </tr>

  </table>

  <input type="submit" class="button" value="Search" />

</form>

{% if query %}
<h3>Results</h3>

{% if results %}

<p>{{ result_count }} hit(s) for query "{{ query }}"</p>

<table class="table">

  <tr>
    <th>Registration number</th>
    <th>Name</th>
    <th>Breed</th>
    <th>Date of birth</th>
    <th>Sex</th>
    <th>Owner</th>
    <th>Litter</th>
  </tr>

  {% for dog in results %}
  <tr>
    <td><a href="/dog/{{ dog.id}}">{{ dog.registration_number }}</a></td>
    <td>{{ dog.name }}</td>
    <td>{{ dog.breed }}</td>
    <td>{{ dog.date_of_birth }}</td>
    <td>{{ dog.sex }}</td>
    <td><a href="/owner/{{ dog.owner_id }}">{{ dog.owner_name }}</a></td>
    <td>{% if dog.litter_name %}<a href="/litter/{{ dog.litter_id }}">{{ dog.litter_name }}</a>{% else
      %}Unknown{%
      endif %}</td>
  </tr>
  {% endfor %}

</table>

<p>
  {% if page > 1 %}
    <a href="{{ url_for("search", page=page-1, query=query) }}">&lt;&lt;</a>
  {% endif %}
  Page {{ page }}/{{ page_count }}
  {% if page < page_count %}
    <a href="{{ url_for("search", page=page+1, query=query) }}">&gt;&gt;</a>
  {% endif %}
</p>

{% else %}
No results for query "{{ query }}"
{% endif %}

{% endif %}

{% endblock %}
